$base-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$base-font-size: 35px;
$base-color: #262626;
$secondary-color: #707070;

html {
  font-size: $base-font-size;
  color: $base-color;
  -webkit-font-smoothing: antialiased;
  user-select: none;
}

body {
  font-family: $base-font;
  cursor: default;
}

.countdown {
  width: 99vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown {
    display: inline-block;
    position: relative;
    color: $secondary-color;
    border-bottom: 1px dotted;
    text-decoration: none;
    cursor: pointer;
}

.dropdown-options {
    display: block;
    position: absolute;
    z-index: 1;
}

.dropdown-option {
    display: block;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    &:hover {
        color: darken($secondary-color, 40%);
    }
}

.custom-date-input {
    font-family: $base_font;
    font-size: $base-font-size;
    color: $secondary-color;
    width: 10.5em;
    border: none;
    cursor: pointer;
    &:hover::-webkit-input-placeholder {
        color: darken($secondary-color, 40%);
    }
    &:focus {
        outline-width: 0;
        border-bottom: 1px dotted;
        cursor: auto;
    }
}
