$base-font: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$base-font-size: 24px;
$secondary-font-size: 12px;
$base-color: #262626;
$secondary-color: #707070;

html {
  -webkit-font-smoothing: antialiased;
  user-select: none;
}

body {
  font-family: $base-font;
  font-size: $base-font-size;
  color: $base-color;
  cursor: default;
}

.new-tab-countdown-info {
    padding-top: 10px;
    padding-left: 10px;
    .title {
        color: $base-color;
    }
    .sub-title {
        color: $base-color;
        font-size: 0.65em;
    }
    .links {
        font-size: 0.65em;
        padding-top: 5px;
        position: absolute;
        .link {
            text-decoration: none;
            color: $secondary-color;
            cursor: pointer;
            &:hover {
                border-bottom: 1px dotted;
            }
        }
        .divider {
            padding: 2px;
        }
    }
}

.countdown-list {
    width: 99vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blurred-countdown {
    color: lighten($secondary-color, 52%);
    padding-top: 25px;
    padding-bottom: 15px;
    .dropdown {
      display: inline-block;
      position: relative;
      color: lighten($secondary-color, 52%);
      border-bottom: 1px dotted;
      text-decoration: none;
      cursor: pointer;
    }
}

.countdown {
    padding-top: 25px;
    padding-bottom: 15px;
    .dropdown {
      display: inline-block;
      position: relative;
      color: $secondary-color;
      border-bottom: 1px dotted;
      text-decoration: none;
      cursor: pointer;
    }
}

.dropdown-options {
    display: block;
    position: absolute;
    z-index: 1;
    .dropdown-option {
        display: block;
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
        &:hover {
            color: darken($secondary-color, 40%);
        }
        .helper-message {
            font-size: $secondary-font-size;
            color: $secondary-color;
            padding: 0;
            margin: 0;
            cursor: default;
        }
    }
}

.custom-date-input {
    font-family: $base-font;
    font-size: $base-font-size;
    color: $secondary-color;
    width: 11.25em;
    border: none;
    cursor: pointer;
    padding: 0;
    &:hover::-webkit-input-placeholder {
        color: darken($secondary-color, 40%);
    }
    &:focus {
        outline-width: 0;
        border-bottom: 1px dotted;
        cursor: auto;
    }
}

.enable-delete-countdown {
  .delete-countdown {
      font-size: 0.65em;
      color: $secondary-color;
      padding-left: 5px;
      position: relative;
      bottom: 3px;
      cursor: pointer;
      &:hover {
          color: darken($secondary-color, 40%);
      }
  }
}

.modify-countdown {
    color: $secondary-color;
    font-size: 0.65em;
    display: inline-block;
    .add-countdown {
        cursor: pointer;
        &:hover {
            color: darken($secondary-color, 40%);
        }
    }
    .disabled-add-countdown {
        cursor: default;
        .tooltip-message {
            padding-left: 5px;
        }
    }
    .toggle-enable-delete-countdown {
        cursor: pointer;
        &:hover {
            color: darken($secondary-color, 40%);
        }
    }
    .disabled-toggle-enable-delete-countdown {
        cursor: default;
    }
}

.all-countdowns-deleted-text {
    padding-top: 25px;
    padding-bottom: 15px;
    .add-countdown-text {
        cursor: pointer;
        color: $secondary-color;
        border-bottom: 1px dotted;
        &:hover {
            color: darken($secondary-color, 40%);
        }
    }
}
