$base-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$base-font-size: 30px;

html {
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  width: 100%;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

body {
  font-family: $base-font;
}

.container {
  width: 100%;
  text-align: center;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-options {
    display: block;
    position: absolute;
    z-index: 1;
}

.dropdown-option {
    display: block;
    overflow: hidden;
    white-space: nowrap;
}
